body{
    padding: 25px;
    background-color: black;
    color: white;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid red;
}

.button1:hover {
    background-color: purple;
    color: white;
}

.button2 {
    background-color: grey; 
    color: black; 
    border: 2px solid purple;
}

.button2:hover {
    background-color: red;
    color: white;
}
  
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}
  
.active, .collapsible:hover {
    background-color: #555;
}
  
.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.darkmodeoff{
    padding: 25px;
    background-color: white;
    color: black;
}
       
.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: purple;
    color: black;
    transition-duration: 0.4s;
}

.prompt {
	display: block;
	font-size: 20px;
}

.bottom {
	margin-bottom: 100px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

* {
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}